.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border: black;
    border-width: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    flex: 1;
}

html {
    background-color: lightblue;
}

h3 {
    font: 700 large system-ui;
}

ul {
    list-style-type: none;
    margin: 5;
    padding: 0;
}

input {
    padding: 3px;
    border-radius: 4px;
}

input[type="submit"] {
    font: 400 small system-ui;
    background-color: white;
    border-color: black;
    border: 10;
    border-radius: 4px;
    font: 700 small system-ui;
    background-color: white;
    padding: 3px;
    margin: 0.3px;
}

button {
    font: 400 small system-ui;
    background-color: white;
    border-color: black;
    border-radius: 4px;
    border: 10;
    font: 700 small system-ui;
    padding: 10px;
    margin: 0.3px;
}

button.task-done {
    background-color: lightgreen;
    font: 700 small system-ui;
}

button.task-not-done {
    background-color: lightsalmon;
    font: 700 small system-ui;
}

button.delete {
    background-color: red;
    color: white;
    font: 700 small system-ui;
}
